# Binary files / folders
bin/
*/target/
*.jar
*.war
*.ear
*.class
!de.hswt.hrm.commons.*
!de.hswt.hrm.pdfrenderer.*
!de.hswt.hrm.commons.validator.*
# Meta files
*/.settings/*
*.pydevproject
.metadata
*~.nib
local.properties
.loadpath

# Tmp files
tmp/*
*.tmp
*.bak
*.swp
