Label {
  font: Verdana 10px;
  color: red;
  background-color: #e3efff;
  border: 1px red;
}


Shell {
  background-color: #e3efff;// #c1d5ef 60%;

}


CTabItem  {  
 font-size: 15;
 font:bold;
}

Button {
 font-size: 13;
}
